{% extends "rest_framework/base.html" %}

{% block content %}
<form method="get">
    <label for="code">Enter Short Code:</label>
    <input type="text" name="code" id="code" placeholder="e.g. abc123">
    <button type="submit">Go</button><br>
</form><br>

{% if request.GET.code %}
    <ul class="nav navbar-nav">
        <li><a href="/shorten/{{ request.GET.code }}">Retrieve URL</a></li>
        <li><a href="/shorten/{{ request.GET.code }}/update">Update URL</a></li>
        <li><a href="/shorten/{{ request.GET.code }}/delete">Delete URL</a></li>
        <li><a href="/shorten/{{ request.GET.code }}/stats">URL Stats</a></li>
    </ul>
{% endif %}
<br>

{{ block.super }}
{% endblock %}
